apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlMalBin.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/chrome_shutdown_ms.txt
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Local State
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/crl-set
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/LICENSE
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/manifest.fingerprint
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/manifest.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/_metadata/verified_contents.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5368/crl-set
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5368/LICENSE
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5368/manifest.fingerprint
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5368/manifest.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5368/_metadata/verified_contents.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cookies
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Current Session
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Current Tabs
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/History
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/History Provider Cache
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Last Session
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Last Tabs
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Login Data
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Network Persistent State
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Preferences
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/TransportSecurity
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Web Data
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/AutofillStrikeDatabase/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/AutofillStrikeDatabase/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/BudgetDatabase/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/BudgetDatabase/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/9f7a7f7e78341e29_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/77c9a1c1c2a0f8c0_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/949ab096f5dba71e_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/7015b1122e3010e4_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/9034d0c4b726cc73_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/index-dir/the-real-index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/73d22c51df23894d_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/0283d1a3b5ac3b28_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/index-dir/the-real-index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Extension State/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Extension State/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/000003.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/EventDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/EventDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/GPUCache/data_1
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/GPUCache/index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/000012.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Platform Notifications/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Platform Notifications/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/000003.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Site Characteristics Database/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Site Characteristics Database/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Data/LevelDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Data/LevelDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Extension Settings/pkedcjkdefgpdelpbcmbmeomcjbeemfm/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Extension Settings/pkedcjkdefgpdelpbcmbmeomcjbeemfm/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/000005.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/000011.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/CURRENT
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/MANIFEST-000004
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/MANIFEST-000010
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/shared_proto_db/metadata/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/shared_proto_db/metadata/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlCsdWhitelist.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlMalware.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSoceng.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSubresourceFilter.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSuspiciousSite.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlUws.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/data_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/data_1
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Extension Settings/pkedcjkdefgpdelpbcmbmeomcjbeemfm/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/chrome_shutdown_ms.txt
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Local State
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/crl-set
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/LICENSE
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/manifest.fingerprint
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/manifest.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/CertificateRevocation/5367/_metadata/verified_contents.json
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cookies
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Current Session
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Current Tabs
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/History
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/History Provider Cache
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Last Session
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Last Tabs
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Login Data
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Network Persistent State
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Preferences
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/TransportSecurity
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Web Data
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/AutofillStrikeDatabase/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/AutofillStrikeDatabase/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/BudgetDatabase/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/BudgetDatabase/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/77c9a1c1c2a0f8c0_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/7015b1122e3010e4_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/9034d0c4b726cc73_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Cache/index-dir/the-real-index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/73d22c51df23894d_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/0283d1a3b5ac3b28_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Code Cache/js/index-dir/the-real-index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Extension State/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Extension State/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/000003.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/EventDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Feature Engagement Tracker/EventDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/GPUCache/data_1
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/GPUCache/index
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/000012.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Local Storage/leveldb/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Platform Notifications/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Platform Notifications/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/000003.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Session Storage/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Site Characteristics Database/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Site Characteristics Database/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Data/LevelDB/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Data/LevelDB/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/Sync Extension Settings/pkedcjkdefgpdelpbcmbmeomcjbeemfm/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/000005.log
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/CURRENT
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/data_reduction_proxy_leveldb/MANIFEST-000004
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/shared_proto_db/metadata/LOG
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Default/shared_proto_db/metadata/LOG.old
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlCsdWhitelist.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlMalBin.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlMalware.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSoceng.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSubresourceFilter.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlSuspiciousSite.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/Safe Browsing/UrlUws.store
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/data_0
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/data_1
apostila_javascript/mvcfuncional/${worspaceFolder}/.vscode/chrome/ShaderCache/GPUCache/index
