<div class="container">
    <div class="row">
        <p>
            Seu nome é:<span class="font-weight-bold">@ViewData["nome"] </span>.
            Sua idade é:<span class="font-weight-bold">@ViewData["idade"] </span>.
            Você é do sexo:<span class="font-weight-bold">@ViewData["sexo"] </span>.
        </p>
    </div>
</div>