@{
    ViewData["Title"] = "Nossa História";
}
<style>
    .main-text{
        color: #2f2f2fed;
        font: 500 13.5px "Arial";
    }
</style>

<div class="d-flex">
    <section class="col-8 bg-white">
        <div class="row p-3">
            <h1 class="bd-base-left pl-2 display-4"> @ViewData["title"] </h1>
        </div>
        <div class="row p-2">
            <p class="text-justify main-text">O Ensino Profissional no Estado de São Paulo, teve início na década de 1940. A indústria apresentava um bom crescimento e por essa razão havia necessidade de mão de obra qualificada. Foi neste período que surgiram nas grandes cidades do Estado de São Paulo as primeiras Escolas Industriais, como: São Paulo, Campinas, Santos, Ribeirão Preto, Sorocaba, Piracicaba, Araraquara, Jau, etc.</p>
            <p class="text-justify main-text">Os alunos dessas Escolas tinham período integral de estudos, sendo que num período estudava-se o núcleo comum do Currículo escolar e no outro a parte profissionalizante. O ensino era de um currículo que atendia as necessidades da mão de obra procurada pela indústria, que assim sendo todos os alunos ao concluirem o curso tinham emprego garantido na indústria.</p>
            <p class="text-justify main-text">Dispõe sobre a criação dos cursos práticos do Ensino Profissional no Estado de São Paulo.</p>
            <p class="text-justify main-text">ADHEMAR DE BARROS Governador do Estado de São Paulo, usando das atribuições que lhe são conferidas por Lei.</p>
            <p class="text-justify main-text">Faço saber que a Assembléia Legislativa Decreta e eu Promulgo a seguinte Lei.
                Artigo 1º Ficam criados nos moldes estabelecidos pelo Decreto Lei de nº 16.108 de 14 de setembro de 1946. Cursos Práticos de Ensino Profissional em Marília.</p>
            <p class="text-justify main-text">Com o Decreto de criação a Superintendência do Ensino Técnico tomou as providências de instalação da Escola, enviou representante que entrou em contato com o prefeito municipal da época Adorcino de Oliveira Lyrio que através da Lei nº383 de 12 de janeiro de 1953, fez a doação do imóvel da rua Catanduva nº 611, para a Fazenda do Estado com a finalidade de instalação de Escola. O prédio que estava fechadoteve que passar por reforma, como também ser mobiliado, e providenciado a vinda do maquinário, que foi transferido da Escola de Piracicaba. Tomada estas providências teve início as aulas da primeira turma no ano de 1952 sendo nomeado seu primeiro Diretor o Professor Antonio Godoy Domingues que ficou na direção até o ano de 1954, em seguida de 1958 à 1972 o Professor Fuad Karut, de 1972 à 1976 Napoleão Salgado Pereira, de 1976 à 1979 Myrthes Pupo de Negreiros, de 1980 a 1982 Lourdes Gomes Macario, de 1982 a 1986 Nene Coracini Santos, de 1986 a 1990 Dalva Speranza Domingues, de 1990 a 2004 Florindo Mazetto e desde 15/07/2004 João Antonio de Oliveira Barbosa.</p>
            <p class="text-justify main-text">A primeira turma que iniciou em 1952 concluiu em 1956, ano em que foi publicado em 15/03/1956 o seu funcionamento para no mesmo ano no dia do aniversário da cidade, 04/04/1956 sua Inauguração. As Escolas que eram autorizadas a funcionarem os Crusos Práticos profissionalizantes recebiam seu primeiro nome de Escola Artezanal. Assim sendo a Escola ficou com esse nome até o dia 18/02/1965 quando foi alterada a denominação pelo Decreto nº 44533/65 para Ginásio Industrial Estadual de Marília, foi neste período que a Escola experimentou um grande aumento na procura de vagas, e o prédio da rua Catanduva ja não suportava mais, ocasião em que o diretor Professor Fuad karut, conseguiu com o Prefeito Municipal Dr. Armando Biava o uso do prédio da Av. Sampaio Vidal nº 245, local onde hoje funciona a biblioteca Municipal.</p>
            <p class="text-justify main-text">A mudança da Escola não foi total, isso ocorreu no ano de 1963, sendo instalado no prédio da Avenida Sampaio Vidal, o Núcleo Comum, ficando a parte profissionalizante, pois teve: cursos de Torneiro Mecânico, Ajustador Mecânico, Marcenaria, Corte e Costura, Econoima Doméstica, Desenho Técnico, Bordado Tricô, Crochê, Pintura em Tecido, Pintura em Porcelana, Pintura em Tela Cerâmica, Bolos, Doces e Salgados.</p>
            <p class="text-justify main-text">Foi no auge deste crescimento que a Escola recebeu o nome de seu patrono pelo Decreto de 11/02/1970 denominando Ginásio Industrial Estadual Antonio Devisate de Marília.
                Com o evento da Lei de Diretrizes e Bases 5692/71 de 11 de agosto de 1971. Estava praticamente decretado o fim do Ensino Técnico, pois a Lei tratava do Ensino de 1º e 2º graus, e não havia espaço para o nosso ensino, desta forma os alunos foram transferidos para o Instituto Monsenhor Bicudo, juntamente com os professores do núcleo comum, e as séries foram se extinguindo uma em cada ano a partir do ano de 1975, sendo que em 1978 não tinhamos mais nenhum aluno.</p>
            <p class="text-justify main-text">A Escola só não fechou por que o Governador fez um Decreto de criação de cursos Pré Profissionalizantes, cujo objetivo era tirar o menor carente da rua e lhe ensinar uma profissão, foi então que com o empenho, dedicação e muito trabalho dos professores, que a Escola sobreviveu, e como não era mais Ginásio foi novamente transformada pela Resolução publicada em 23/01/76 para Centro Interescolar Anttonio Devisate em Marília. Mas esta situação durou apenas 4 anos pois a Escola voltou a ter novamente seus cursos de 2º grau e novamente foi transformada pela Res. nº 59 de 22 publicada em 23/04/81, transformando o Centro Interescolar Antonio Devisate em Marília.</p>
            <p class="text-justify main-text">Pelo relato acima nota-se que a rede do Ensino Técnico necessitava de um órgão identificado com este tipo de Ensino para a sua efetiva administração, foi então que o governador Luiz Antonio Fleury Filho, teve essa visão e finalmente em 27/10/1993 através do Decreto nº 37.795/93. Transferiu todas as Escolas Técnicas Estaduais para o CEETEPS, Centro Estadual de Educação Tecnológica Paula Souza.</p>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <h2 class="bd-base-left display-5 pl-2">Diretores (desde 1952):</h2>
            </div>
            <div class="col-8">
                <table class="table table-bordered table-sm">
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
        </div>    
    </section>
    <aside class="col-4 pl-4">
        <div class="row p-2 bg-white">
            <p>Teste</p>
        </div>
    </aside>
</div>